<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TechParamsCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="host=192.168.1.131;port=5432;database=TechCalc;user id=Al;password=kip12" providerName="Npgsql"/>
  </connectionStrings>
 
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF"/>
    </DbProviderFactories>
  </system.data>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  
  
  <userSettings>
    <TechParamsCalc.Properties.Settings>
      <setting name="SQLDataBase" serializeAs="String">
        <value>TechCalc</value>
      </setting>
      <setting name="SQLServerDataBase" serializeAs="String">
        <value>TechCalc</value>
      </setting>
      <setting name="SQLServerLogin" serializeAs="String">
        <value>Al</value>
      </setting>
      <setting name="SQLServerPassword" serializeAs="String">
        <value>kip12</value>
      </setting>
      <setting name="SQLServerPort" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="ServerSyncWryteTag" serializeAs="String">
        <value>EXTERNAL_EXCHANGE</value>
      </setting>
      <setting name="OPCServerName" serializeAs="String">
        <value>SchneiderElectric.SCADA.OpcDaServer.1\</value>
      </setting>
      <setting name="OPCServerSubString" serializeAs="String">
        <value />
      </setting>
      <setting name="AtmoPressureTag" serializeAs="String">
        <value>S08_01_W01_LT01</value>
      </setting>
      <setting name="ServerSyncWriteTag" serializeAs="String">
        <value>EXTERNAL_EXCHANGE</value>
      </setting>
      <setting name="SQLServerAddress" serializeAs="String">
        <value>10.12.70.16</value>
      </setting>
      <setting name="OtherTagsFromOPC" serializeAs="String">
        <value>S08_01_W03_LT01,S08_01_W04_LT01</value>
      </setting>
    </TechParamsCalc.Properties.Settings>
  </userSettings>
</configuration>
